
#containertemps{
    background-color:#0c0c0c00;
}

.time_elapsed{
     color:#ffffff;
    }

.time_total{
     color:#ffffff;
    }

.infos{
     color:#ffffff;
    }

#playlist{
     color:#ffffff;
    }

.img-thumbnail{
    background-color:#fdfdfd2b;
    border-width:0px;
}
}